/* @import url("https://fonts.googleapis.com/css?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #1a202c;
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.gamewrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* margin-top: 2em; */
  padding: 0;
  will-change: transform;
  /* background-image:url('./images/book.jpg'); */
}

.gamescreen {
  flex-grow: 1;
  display: flex;
  padding-top: 0%;
  width: 100%;
  height: 100%;
}
.gamearea {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  background-color: none;
  color: #333;
  border: 0px solid #2c3e50;
  border-radius: 0px;
  margin-top: 6vh;
  /* display: grid; */
  /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
  z-index: 5;
}

#wrapper .gamescreen {
  flex-basis: 0;
  flex-grow: 999;
}

.gamearea .cell {
  /* border: 20px solid #2c3e50; */
  border-radius: 0px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}

.gamearea div.inactive {
  cursor: pointer;
}

.gamearea div.inactive:hover {
  background-color: #ccc;
  cursor: pointer;
}

.gamearea div.vertical {
  background-color: rgb(0, 170, 170);
  width: 16px;
  height: 100%;
  opacity: 1;
  box-shadow: cyan 0px 0px 20px;
}
.gamearea div.horizontal {
  background-color: rgb(0, 170, 170);
  width: 100%;
  height: 16px;
  opacity: 1;
  box-shadow: cyan 0px 0px 20px;
}

.vstack {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 0px;
}

.vstack-noh {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0px;
}

.hstack {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 0px;
}

.spacer {
  flex: 1 1 0%;
  place-self: stretch;
}

.foreground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  text-align: center;
  font-size: 16vh;
  line-height: 23vh;
}

.background {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  text-align: center;
  font-size: 16vh;
  line-height: 23vh;
}

.color-X.foreground {
  text-shadow: 0px 0px 20px red;
}
.color-X.background {
  text-shadow: 0px 0px 40px red;
}

.color-O.foreground {
  text-shadow: 0px 0px 20px blue;
}
.color-O.background {
  text-shadow: 0px 0px 40px blue;
}
/* 
.gamearea div.ttt-0 {
  border-top: 0;
  border-left: 0;
}

.gamearea div.ttt-1 {
  border-top: 0;
}

.gamearea div.ttt-2 {
  border-top: 0;
  border-right: 0;
}

.gamearea div.ttt-3 {
  border-left: 0;
}

.gamearea div.ttt-4 {
}

.gamearea div.ttt-5 {
  border-right: 0;
}

.gamearea div.ttt-6 {
  border-left: 0;
  border-bottom: 0;
}

.gamearea div.ttt-7 {
  border-bottom: 0;
}

.gamearea div.ttt-8 {
  border-right: 0;
  border-bottom: 0;
} */

.color-X {
  color: rgb(255, 214, 212);
  color: #f59793;
  /* color: #b77701;
  stroke: #b77701; */
}

.color-O {
  color: rgb(220, 226, 255);

  color: #a0aef1;
  /* color: #0459d2;
  stroke: #0459d2; */
}
.line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.alert-panel {
  display: block;
  /* position: relative;
  bottom: 1em;
  left: 1em; */
}

.alert-primary {
  color: #e6eff8;
  background-color: #1e3146;
  border-color: #0a1b2c;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 2.6vh;
  text-align: center;
  height: 3vh;
}

.hide {
  display: none;
}

.player-panel {
  flex-grow: 1;
  background-color: #141922;
  width: 100%;
  height: 100%;
  padding-top: 2vh;
}

.nameplate {
  /* padding: 1rem; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
  background-color: #141922;
}

.timebar-panel {
  height: 0.5vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.yourTurn {
  font-weight: bold;
}

.progress {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  z-index: 2;
  transition: width 0.1s ease, left 0.1s ease;
}

.timeleft {
  color: #333;
  font-size: 2.6vh;
  text-align: center;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  /* padding-left: 1vh; */
  justify-content: center;
  align-items: center;
}

.nextTag {
  font-size: 1.2em;
  /* color: gold; */
  font-weight: bold;
  display: inline-block;
  text-align: center;
  display: block;
  width: 100%;
}

.playerName {
  font-weight: bold;
}
.playerName {
  display: block;

  font-size: 2.8vh;
  text-align: center;
  padding-right: 1vh;
}

.localPlayerIndicator {
  display: block;
  font-size: 4vh;
  line-height: 4vh;
  text-align: center;
  color: darkkhaki;
}

.ttt-type {
  display: block;
  /* width: 7vh; */
  text-align: left;
  font-weight: bold;
  font-size: 3vh;
  padding-top: 0;
  align-self: center;
  color: white;
}

.local .ttt-type {
  text-align: right;
}

.vs {
  font-weight: normal;
  font-size: 2vh;
  width: 8vh;
  text-align: center;
}

.next .timeleft {
  color: #fff;
}

.color-X .ttt-type {
  color: #ffb7b7;
}

.color-O .ttt-type {
  color: #b3cfff;
}

/* .nameplate {
  border-top: 1vh solid #141922;
} */

.next.color-O .progress {
  background-color: #0f56cf;
}

.next.color-X .progress {
  background-color: #c50e0e;
}

.next span.playerName {
  font-weight: bold;
}

.eventMessage {
  display: inline-block;
  margin-right: 1rem;
}

.eventPlayerName {
  color: darkkhaki;
}

.color-O.line.foreground {
  -webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 255, 0.8));
  filter: drop-shadow(0 0 40px rgba(0, 0, 255, 0.8));
}

.color-O.line.background {
  -webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 255, 0.5));
  filter: drop-shadow(0 0 40px rgba(0, 0, 255, 0.5));
}

.color-X.line.foreground {
  -webkit-filter: drop-shadow(0 0 40px rgba(255, 255, 255, 1));
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 1));
}

.color-X.line.background {
  -webkit-filter: drop-shadow(0 0 30px rgba(255, 0, 0, 1));
  filter: drop-shadow(0 0 30px rgba(255, 0, 0, 1));
}
